<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Screen | Cinema Booking System</title>
    <link th:replace="links.html"/>
</head>
<body>
<nav th:replace="admin/navbar.html :: adminMenu(link='screen')"></nav>
<div class="container">
    <h4 class="mt-4 mb-4">Screen</h4>
    <div class="row">
        <div class="col-md-6">
            <div th:if="${msgsuc!=null}" class="alert alert-success" th:text="${msgsuc}"></div>
            <div th:if="${msgerr!=null}" class="alert alert-danger" th:text="${msgerr}"></div>
            <form method="post" action="/saveScreen" id="frmscreenName">
                <div class="row mb-3">
                    <label class="col-md-3 text-sm-end" for="cinema.cinemaId">Cinema Name:</label>
                    <div class="col-md-8">
                        <select class="form-control" id="cinema.cinemaId" name="cinema.cinemaId">
                            <option value="0">-</option>
                            <option th:each="cinem : ${cinemadata}" th:value="${cinem.cinemaId}"
                                    th:text="${cinem.cinemaName}"></option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-3 text-sm-end" for="type">Screen Type:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="type" name="type"
                               placeholder="Screen Type"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 offset-md-6">
                        <button class="float-end btn btn-success"><i class="fa fa-save me-2"></i>Post</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <td><b>ID</b></td>
                        <td><b>Cinema Name</b></td>
                        <td><b>Screen Type</b></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="scrda : ${screendata}">
                        <td th:text="${scrda.screenId}"></td>
                        <td th:text="${scrda.cinema.cinemaName}"></td>
                        <td th:text="${scrda.type}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script th:replace="script.html"></script>
<script>
    $(document).ready(function () {
        $("#frmscreenName").validate({
            errorClass: "text-danger",
            rules: {
                type: "required",
                "cinema.cinemaId": {min:1},
            },
            messages: {
                type: "Enter Screen Type",
                "cinema.cinemaId": "Select Cinema Name"
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>
</body>
</html>