<nav th:fragment="navigationForm (link)" class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container">
        <a href="/" class="navbar-brand">Cinema Booking System</a>
        <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler" data-bs-target="#navbarCollapse" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a href="/userLogin" th:class="${(link=='user')?'active nav-link':'nav-link'}">User Login/Register</a></li>
                <li class="nav-item">
                    <a href="/adminLogin" th:class="${(link=='admin')?'active nav-link':'nav-link'}">Admin Login/Register</a></li>
            </ul>
        </div>
    </div>
</nav>